nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 8%;
	padding-right: 8%;
	background-color: #216182;
	margin: auto;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9999;
	position: fixed;
	height: auto;
}
.logo {
	color: black;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
	font-family: product sans;
}

.active {
	color: #BCD9FF;
}
nav ul li {

	list-style-type: none;
	display: inline-block;
	padding: 10px	25px;
}
nav ul li a{
	text-decoration: none;
	font-family: product sans;
	font-weight: bold;
	text-transform: capitalize;
	color: white;
}
nav ul li a:hover {
	color: #BCD9FF;
	transition: .4s;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 45px
}

.logo {
	width: 600px;
	width: 200px;
}

marquee {
	display: flex;
	color: #216182;
	background-color: #BCD9FF;
	font-size: 15px;
	font-family: product sans;
	behavior: scroll;
	direction: left;
	margin: auto;
	text-align: center;
	justify-content: space-between;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9999;
	margin-top: 90px;
	position: fixed;
}

h1 {
	text-align: center;
	padding-bottom: 40px;
}

.tempus {
	padding-top: 120px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding: auto;
	margin: auto;
	width: 800px;
	height: auto;
	margin-bottom: 40px;
}
.utopia img{
	width: 100%;
}

.utopia p {
	width: 800px;
	text-align: justify;
	line-height: 28px;
	padding-bottom: 40px;
}

.guild img{
	width: 100%;
}

.guild p {
	width: 800px;
	text-align: justify;
	line-height: 28px;
	padding-bottom: 40px;
}

.xenokuni img {
	width: 100%;
}

.xenokuni p {
	width: 800px;
	text-align: justify;
	line-height: 28px;
	padding-bottom: 50px;
}


h2 {
	text-align: justify;
}
